In [ ]:
#Loading and viewing Data
#I will load the date file for this example and checkout summary statistics and columns for that file.

In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics

prospect_data = pd.read_csv("browsing.csv")

prospect_data.dtypes

SESSION_ID         int64
IMAGES             int64
REVIEWS            int64
FAQ                int64
SPECS              int64
SHIPPING           int64
BOUGHT_TOGETHER    int64
COMPARE_SIMILAR    int64
VIEW_WARRANTY      int64
SPONSORED_LINKS    int64
BUY                int64
dtype: object

In [3]:
#sample of the top records to understand how the date looks like.
prospect_data.head()

,SESSION_ID,IMAGES,REVIEWS,FAQ,SPECS,SHIPPING,BOUGHT_TOGETHER,COMPARE_SIMILAR,VIEW_WARRANTY,SPONSORED_LINKS,BUY
0,1001,0,1,0,1,0,1,1,0,1,0
1,1002,0,1,0,0,1,0,0,0,1,0
2,1003,1,1,0,1,1,0,0,0,1,0
3,1004,1,0,0,0,1,0,1,0,1,0
4,1005,1,1,0,1,1,1,1,0,0,0

In [4]:
#Summary statistics analysis of the data
prospect_data.describe()

,SESSION_ID,IMAGES,REVIEWS,FAQ,SPECS,SHIPPING,BOUGHT_TOGETHER,COMPARE_SIMILAR,VIEW_WARRANTY,SPONSORED_LINKS,BUY
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000
mean,1336.500000,0.470238,0.474702,0.470238,0.474702,0.471726,0.474702,0.473214,0.468750,0.474702,0.186012
std,194.133974,0.499485,0.499732,0.499485,0.499732,0.499572,0.499732,0.499654,0.499394,0.499732,0.389406
min,1001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1168.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1336.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1504.250000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,1672.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000